body {
  font-family:helvetica, arial;
  font-size:12px
 }
.scrumboard{
  margin:0 auto;
  width:835px;
}
h1{
  margin-left:20px;
  font-size:2rem;
}
 .column {
  width: calc(100% / 7);
  float: left;
  border: solid 4px black;
  min-height:500px;
  position: relative;
  padding-bottom: 50px;
 }
 #tasks-pending.column {
  min-height: 100px;
  padding-bottom: 0;
 }
 #tasks-pending {
  width: 100%;
  float: none;
  height: auto;
 }
 #tasks-pending .portlet {
  width: 150px;
  display: inline-block;
 }
 .portlet {
  margin: 0 1em 1em 0;
  padding: 0.3em;
  vertical-align: top;
 }
 .portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
 }
 .portlet-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
 }
 .portlet-content {
  padding: 0.4em;
 }
 .portlet-content .btn {
   margin-right: 5px;
   margin-bottom: 5px;
 }
 .portlet-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
 }
 #form-select-inner {
  font-size: 1.4em;
  vertical-align: middle;
  line-height: 2.6em;
 }
 button.day-task-add {
  position: absolute;
  bottom: 0;
  top: auto;
  right: 0;
  left: 0;
}
.card-body .btn {
  margin-right: 5px;
  margin-bottom: 5px;
}